<script>
  const [lat_max, lat_min, lng_max, lng_min] = get_coordinates('Ouro Preto');
	const plot = Bokeh.Plotting.figure({
		tools: "pan,wheel_zoom,box_zoom,reset,hover",
		tooltips: TOOLTIPS,
		toolbar_location: "below",
		x_range: [lng_min, lng_max],
		y_range: [lat_min, lat_max],
		x_axis_type: "mercator",
		y_axis_type: "mercator",
		min_width: 1000
	});

	plot.xaxis.axis_label = 'Longitude';
	plot.yaxis.axis_label = 'Latitude';

	plot.add_tile(tile_provider);
	plot.circle('x', 'y', {size: 5, color: 'color', source: source, alpha: 0.5});

	const doc = new Bokeh.Document();
	doc.add_root(plot);
	doc.title = "Plot";
	doc.get_model_by_id('f99a5d20-06f9-48be-9b8d-05380a9f7a59').set_width(1000);
	doc.get_model_by_id('f99a5d20-06f9-48be-9b8d-05380a9f7a59').set_height(600);
	Bokeh.embed.add_document_standalone(doc, document.body);
</script>